//Colors 
$grey: #333333;

//Navigation Colors
$nav-background: white; 
$nav-text-color: $grey;

//Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;

//alta colors
$alta-dark-red: #6B0914;
$alta-red: #B82233;
$alta-goldenrod: #D59401;
$alta-yellow: #E3BC00;
$alta-light-yellow: #F1DD7F;
$alta-dark-blue: #003947;
$alta-blue: #007491;
$alta-sky-blue: #4DC7E0;
$alta-light-blue: #7AD5E8;
$alta-baby-blue: #A6E3EF;
$alta-lightest-blue: #D2F1F7;
$alta-black: #333333;
$alta-dark-gray: #4D4D4D;
$alta-gray: #666666;
$alta-lighter-gray1: #808080;
$alta-lighter-gray2: #999999;
$alta-lightest-gray: #B3B3B3;



