.banner {
  height: 170px;
  width: 100%;
  background-color: $alta-sky-blue;
  border-top: 5px solid $alta-blue;
  position: absolute;
  top: 70px;
  z-index: -1;
}

.banner-word {
  color: white;
  border: 1px solid black;
}