.banner {
  height: 170px;
  width: 100%;
  background-color: $alta-blue;
  border-top: 5px solid $alta-blue;
  position: absolute;
  top: 70px;
  z-index: -1;
}

.banner-word {
  color: white;
  position: relative;
  left: 350px;
  top: 50px;
  font-weight: bold;
  font-size: 40px;
  font-family: helvetica;

}