.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  height: 75px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: none;
    overflow: hidden;
    border: 1px solid black;
}

.menu-text {
  border: 1px solid blue;
}

a {
  color: $alta-gray;
}

a:hover {
  color: $alta-red;
}

#fb-icon {
  height: 20%;
  width: 20%;
}

#insta-icon {
  height: 15%;
  width: 15%;
}
