.submission-form-box {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}

.button {
  background-color: $alta-goldenrod;
  font-size: 18px;
}

.error-message {
  height: 100px;
  width: 100px;
  color: $alta-red;
}